<footer>
    <h2>Also in love with the web?</h2>
    <section class="footer">
        <button class="footerbutton">Join our team -></button>
    </section>

    <section class="yellowfooter"></section>
</footer>

</html>