<footer>
    <h2>Also in love with the web?</h2>
    <section class="footer">
        <p class="pfooter">For us, that’s about technology and user experience. Fast, available for all, enjoyable to use.
            And fun to
            build. This is how our team bands together, adhering to the same values, to make sure we achieve a solid
            result for clients both large and small. Does that fit you?</p>
        <button class="footerbutton">Join our team -></button>
    </section>

    <section class="yellowfooter"></section>
</footer>

</html>