<%- include('./partials/head') %>

    <div id="searchResults"></div>

    <div class="search">
        <label for="searchInput" class="labelsearch">Search blogs</label>
        <input type="text" id="searchInput" class="searchbar" placeholder="....">
        <img class="searchimg" src="assets/search.svg" alt="Magnifying glass image">
    </div>

    <section class="yellowsearch"></section>

    <div id="blogPosts">34 Blogs by 7 Authors</div>

    <p class="pdate">Date</p>
    <section class="dates">
        <section class="date">
            <label class="labeldate" for="date">From</label>
            <input type="date" id="date" class="datebar">
        </section>

        <section class="date">
            <label class="labeldate" for="date">To</label>
            <input type="date" id="date" class="datebar">
        </section>
    </section>

    <section class="yellowdate"></section>
    <section class="yellowdate2"></section>

    <section class="author">
        <label class="labelauthor" for="author">Author(s)</label>
        <select class="authorbar" name="languages" id="author">
            <option>Pick an Author</option>
            <option value="author1">Author1</option>
            <option value="author2">Author2</option>
            <option value="author3">Author3</option>
        </select>
    </section>
    <!-- datalist/form/fieldset/buttons hover kleur -->
    <section class="yellowauthor"></section>

    <section class="blogtitle">
        <img src="assets/pin.svg" alt="pin image">
        <p>Pinned blog</p>
    </section>

    <section class="blog">
        <p class="pblog">How to make your multilingual website suitable for RTL with only HTML and CSS</p>
        <p>By Declan</p>
    </section>

    <section class="yellowblog"></section>

    <button class="blogbutton">
        More blogs
    </button>

    <section class="yellowbutton"></section>

    </main>
    </body>

    <%- include('./partials/foot') %>